<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcs.edureka">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.usb.accessory" />
    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name=".TcsApplicationBase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TCS_EDURKA"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.media.MyMediaPlayerActivity"
            android:label="@string/media"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.appointments.AppointmentActivity"
            android:label="Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.appointments.RemindersActivity"
            android:label="Appointment"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".providers.MySliceProvider"
            android:authorities="com.tcs.edureka.providers"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.app.slice.category.SLICE" />

                <data
                    android:host="providers.edureka.tcs.com"
                    android:pathPrefix="/"
                    android:scheme="http" />
            </intent-filter>
        </provider>

        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.activity.contacts.ContactsActivity"
            android:label="Contacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.contacts.AddContactActivity"
            android:label="Contacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.weather.WeatherActivity"
            android:label="Weather"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.map.MapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/dashboard_label" />
        <activity android:name=".ui.activity.MyPreferencesActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map" />

        <provider
            android:name="com.github.mjdev.libaums.storageprovider.UsbDocumentProvider"
            android:authorities="com.github.mjdev.libaums.storageprovider.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="APPOINTMENT_ALARM" />
            </intent-filter>
        </receiver>
        <service android:name=".services.MyMusicServiceKt" />


        <receiver
            android:name=".receivers.SpeechRecognitionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.tcs.edureka.speechrecognition" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.SpeechRecognitionService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>